.header {
    height: 60px;
    background-color: #175132;
    padding: 5px;
    text-align: center;
}

.login-block {
    width: 420px;
    padding: 20px;
    background: #38c97c;
    border-radius: 5px;
    border: 1px solid #000;
    margin: 90px auto;
}

.login-block h1 {
    text-align: center;
    color: #2b1707;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
}

.login-form input[type="text"], .login-form input[type="password"] {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #000;
    margin-bottom: 20px;
    font-size: 14px;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-form input[type="text"] {
    background: #a1e6c1 url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-form input[type="text"]:focus {
    background: #a1e6c1 url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-form input[type="password"] {
    background: #a1e6c1 url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-form input[type="password"]:focus {
    background: #a1e6c1 url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block ::-webkit-input-placeholder {
    color: #636160;
    font-weight: bold;
}

.login-block :-moz-placeholder {
    color: #636160;
    opacity: 1;
    font-weight: bold;
}

.login-block ::-moz-placeholder {
    color: #636160;
    opacity: 1;
    font-weight: bold;
}

.login-block :-ms-input-placeholder {
    color: #636160;
    font-weight: bold;
}

.login-form input[type="checkbox"] {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.login-checkbox {
    width: 48%;
    font-size: 18px;
    color: #175132;
}

.btn-login {
    font-size: 17px;
    font-weight: bold;
    width: 50%;
    color: #a1e6c1;
    background: #175132;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-login:active{
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    border: solid 1px #203E5F;
    color: #63a883;
    outline: transparent none;
}

.btn-login:hover{
    color: #63a883;
    outline: none;
}

.btn-login:focus {
    color: #63a883;
    outline: none;
}

.form-group {
    text-align: center;
}

.bottom-links-login {
    margin: 30px auto 0;
}

.form-group #forgot-pass, .form-group #signup {
    font-size: 16px;
    font-weight: bold;
    color: #175132;
}