@font-face {
    font-family: "HelveticaBold";
    src: url("../fonts/HelveticaBold.eot");
    src: url("../fonts/HelveticaBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaBold.woff") format("woff"),
    url("../fonts/HelveticaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.undercover {
    background-color: rgba(255, 255, 255, 0.568627450980392);
    border-radius: 0;
    border-color: transparent;
    padding-bottom: 20px;
}

.group_container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.group-main-block{
    background-color: rgba(28, 78, 80, 1);
    text-align: start;
    font-weight: 900;
    font-style: normal;
    font-family: HelveticaBold;
    color: white;
    height: 83px;
}

.group-admin-role{
    color: grey;
    margin-left: 10px;
}

.group-user-time{
    margin-top: 7px;
    color: grey;
    width: 100%;
    float: left;
}

.group-label-post{
    border-bottom: 2px solid #244ca5;
    width: 110px;
}

.group-label-text{
    padding: 5px;
    font-size: 23px;
    font-weight: bold;
    margin-left: 25px;
    line-height: 25px;
    margin-top: 25px;
    font-family: HelveticaBold;
}

.group-teacher-profile{
    margin-top: 10px;
}

.group-timetable{
    font-size: 16px;
}

.group-admins a{
    margin: 5px;
}

.group-admins a, .group-teacher a, .group-post a, .group-comment a{
    font-size: 14px;
    color: #363636;
}

.group-tags{
    margin-top: 30px;
}

.group-posts-error{
    color: grey;
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
}

.group-tag{
    text-transform: uppercase;
    margin: 5px auto 5px;
    padding: 10px 25px;
    display: inline-block;
    text-align: center;
    background: #1b9dec linear-gradient(to bottom, #1da7ee, #178ee9) repeat-x;
    border-radius: 2px;
    color: #ffffff;
    font-weight: bold;
}

.group-members a{
    font-size: 14px;
    color: #306262
}

.group-admins a:hover, .group-block a:hover, .group-teacher a:hover, .group-post a:hover, .group-comment a:hover, .group-members a:hover{
    text-decoration: none;
}

.group-label-information{
    width: 115px;
    border-bottom: 2px solid #244ca5;
}

.group-admin-profile img, .group-teacher-profile img, .group-admin-image, .group-user-image, .group-user-image-member img{
    width: 60px;
    height: 60px;
    padding: 0;
    border-radius: 50%;
}

.group-user-image-member img{
    display: block;
    margin: auto;
}

.group-create-post-image-upload > input {
    display: none;
}

.group-create-post-image-upload{
    margin-top: 5px;
    float: right;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
}

.group-create-post-image-upload-icon{
    font-size: 40px;
    margin-right: 15px;
}

.group-admin-image {
    margin-left: 20px;
}

.group-user-image{
    margin-left: 30px;
}

.group-admin-profile, .group-user-profile{
    margin-top: 5px;
    margin-bottom: 5px;
}

.group-create-post-image-upload-icon{
    font-size: 40px;
    margin-right: 20px;
}

.group-admin-profile-name, .group-teacher-profile-name, .group-user-profile-name{
    font-size: 18px;
}

.group-user-profile-name-member{
    font-size: 18px;
    text-align: center;
}

.group-post-text, .group-comment-text{
    font-size: 18px;
}

.group-comment-text{
    float: right;
}

.group-user-profile-name{
    float: left;
}

.group-create-post, .group-comment-create{
    padding: 10px;
    background-color: rgba(242, 242, 242, 0.788235294117647);
    border-radius: 4px;
}

.group-post, .group-comment{
    padding: 10px;
    background-color: rgba(242, 242, 242, 0.788235294117647);
}

.group-comment-label{
    padding: 10px;
    background-color: rgba(242, 242, 242, 0.788235294117647);
    font-size: 20px;
}

.group-create-post{
    margin-bottom: 20px;
}

.group-modify-icon {
    font-size: 30px;
    margin-top: 230px;
    color: #306262;
}

.group-post, .group-comment{
    border-color: #333333;
    border-bottom: 1px solid;
}

.group-post{
    margin-top: 20px;
}

.group-create-post-text{
    width: 100%;
    height: 70px;
}

.group-create-comment-text{
    margin-top: 5px;
    width: 100%;
    height: 100px;
}

.group-image{
    top: -70px;
    left: 50px;
    position: absolute;
}

.group-image img{
    width: 275px;
    height: 280px;
    border-radius: 50%;
    border: 4px solid darkgrey;
}

.group-info{
    margin-top: 40px;
    padding-top: 10px;
    font-size: medium;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 9px;
    color: #306262;
}

.group-members-label{
    margin-top: 5px;
    font-size: large;
    color: #306262;
    margin-bottom: 5px;
    font-weight: bold;
}

.group-admins{
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 9px;
}

.group-members{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 9px;
    padding-bottom: 10px;
}

.group-create-post-label{
    font-size: large;
    margin-bottom: 5px;
    font-weight: bold;
}

.group-line{
    border-color: #333333
}

.button-enter-group {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    padding: 12px 25px;
    margin: 230px auto 0;
    font-size: 12px;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    background: rgba(44, 147, 119, 1) none;
    color: #fff;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
}

.group-create-post-submit, .group-create-comment-submit{
    margin-top: 10px;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 25px;
    font-size: 12px;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    background: rgba(44, 147, 119, 1) none;
    color: #fff;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
}

.group-create-comment-submit{
    float: right;
}

.group-info-header {
    margin-top: 40px;
    font-size: large;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 4px 5px 4px;
}