
.green-header{
    color: white;
    background-color: rgba(0, 82, 71, 0.86);
    font-family: Helvetica, Helvetica Neue,sans-serif;

}
.work-block {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin:15px 0px;

}
.chart-panel > * > * {
    padding: 4px 4px;
}
.panel.work-block {
    padding: 0px;
}
.panel.work-block .panel-body  {
    padding:0px 20px;
}
.underlabel {
    font-size: 10px;
    color: #1d4f50;
    width: 100% ;
    line-height: 12px;
}
.work-block .media{
    margin-left: 10px;
}

.first-tab.work-block {
     border-top-left-radius: 0px;

}
.tab-content>.work-block {
    margin-top: 0px;
}
.tab-content>.work-block + .work-block {
    border-top-left-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}



.test{
    background-color: red;
}

.custom-tag{

    font-family: inherit;
    font-size: 13px;
    line-height: 18px;
    -webkit-font-smoothing: inherit;
    cursor: pointer;
    margin: 0px;
    margin-bottom: 5px;
    padding: 0px 6px;
    color: #ffffff;
    border: 1px solid #0073bb;
    border-radius: 3px;
    vertical-align: baseline;
    display: inline-block;
    zoom: 1;
    background: #1b9dec linear-gradient(to bottom, #1da7ee, #178ee9) repeat-x;
    text-shadow: 0 1px 0 rgba(0, 51, 83, 0.3);
}

.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

.thumb-round {
    border-radius: 100%;
    display: block;
    width: 100%;
    height: 60px;
    background-position: center center;
    background-size: cover;
}
.main-avatar-round {
    align-self: center;
    border: 7px solid rgba(0, 82, 71, 1);
    border-radius: 100%;
    width: 95%;
    margin: 5px;
    margin-top: -50px;
    background-position: center center;
    background-size: cover;
}

.list-grey-hr {
     border-color: #d0d0d0;
     margin: 0px 15px;
 }
.full-grey-hr {
    border-color: #d0d0d0;
    margin: 0px 0px;
}
a.link {
    color: #2b542c;
}


/*
 right tabs
*/
